@charset "UTF-8";

#header {
	margin: 5px;
	height: 150px;
	/* border: 1px solid black; */
}

#content {
	position: relative;
	top: 130px;
	margin: 5px;
	padding: 10px;
	min-height: 600px;
	/* border: 1px solid black; */ 
	text-align: center;
}

#footer {
	position: relative;
	top: 130px;
	margin: 5px;
	height: 50px;
	/* border: 1px solid black; */
	text-align: center;
}